@charset "utf-8";

* {
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid #333; */
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#pileUp {
    width: 100%;
    height: 100vh;
    display: flex;
}

#drop-area {
    position: relative;
    width: 75%;
    height: 100vh;
    background-color: #cdd;
}

#drop-area img {
    pointer-events: none;
    user-select: none;
    max-width: none;
}

#drop-area p {
    position: relative;
    width: 17em;
    top: 50%;
    left: 45%;
    text-align: center;
    font-size: 20px;
    user-select: none;
}

.reset:disabled,
#toggle-drag:disabled,
#select-all-button:disabled,
#diffrent-check-button:disabled,
.layer-item:disabled,
#opacity-controls button:disabled,
#opacity-slider:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.layer-item.selected {
    background-color: #6868f8;
    color: #fff;
}

#image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

#layer-menu {
    width: 25%;
    height: 86vh;
    overflow: auto;
    margin-top: 5.4em;
    padding: 0 .3em;
}

.layer-item {
    position: relative;
    padding: .6em 0;
    border: 1px solid #ddd;
    cursor: pointer;
}

.layer-item .dragging {
    opacity: 0.5;
    position: relative;
    z-index: 1000;
}

.layer-item span {
    /* webkitはsafari専用 */
    -webkit-user-select: none;
    user-select: none;
    margin-left: 1em;
}

.drag-handle {
    position: absolute;
    margin: auto 0;
    right: .5em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    display: inline-block;
    width: 1.2em;
    text-align: center;
}

.ui {
    position: fixed;
    width: 25%;
    top: 0;
    right: 0;
    padding: .5em;
    background-color: #87c2b4;
    z-index: 9999;
}

#slider-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.button-container {
    position: relative;
    display: flex;
    margin-top: .8em;
}

#zoom-slider {
    width: 80%;
}

#zoom-value {
    margin-left: .5em;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(81, 177, 94);
    padding: .3em;
    border-radius: 10px;
    pointer-events: none;
}

.reset,
#toggle-drag,
#select-all-button,
#diffrent-check-button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left: .5em;
    font-weight: bold;
}

.reset {
    /* position: relative; */
    color: #fff;
    background-color: #ff5555;
}

.reset:hover {
    background-color: #cc4444;
}

#toggle-drag {
    /* position: relative; */
    color: #000;
    background-color: #B2D3A5;
}

#select-all-button {
    /* position: relative; */
    color: #fff;
    background-color: #934fa8;
}

#select-all-button:hover {
    background-color: #712da7;
}

#diffrent-check-button {
    color: #fff;
    background-color: #a89e4f;
}

#diffrent-check-button:hover {
    background-color: #a7a72d;
}

.help {
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 17px;
    margin-top: .3em;
    margin-left: .5em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #c29221;
    line-height: 1.25;
}

.dragCheck {
    display: flex;
    width: 50%;
    margin-left: 3em;
    justify-content: center;
    padding: .1em;
    background-color: #B2D3A5;
    border-radius: 5px;
    font-weight: bold;
    user-select: none;
}

.resettip,
.dragtip,
.allSelecttip,
.diffChecktip {
    display: none;
    position: absolute;
    z-index: 10;
    background: #545454;
    padding: 2em;
    font-size: 0.1em;
    line-height: 1;
    animation: fadeIn 0.6s;
    color: #fff;
    border-radius: 3px;
    pointer-events: none;
    border: none;
}

.resettip {
    top: -9.5em;
    left: -1.3em;
}

.dragtip {
    top: -15.5em;
    left: 19.7em;
}

.allSelecttip {
    top: -9.5em;
    left: 42.8em;
}

.diffChecktip {
    top: -9.5em;
    left: 55.5em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}

.big {
    font-size: 1.3em;
    font-weight: bold;
    color: #ff0000;
}

.close {
    position: absolute;
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    top: 0.5em;
    right: 1em;
    cursor: pointer;
    font-size: 1.5em;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.help-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.help-modal-content {
    position: relative;
    background: #fff;
    padding: 1em;
    border-radius: 10px;
    max-width: 30%;
    width: 90%;
}

.code {
    display: inline-flex;
    width: 8em;
}

.code-sentence {
    margin-left: 1em;
    width: 50%;
}

.help-modal-content h2 {
    text-align: center;
    margin-bottom: 15px;
}

.help-close-btn {
    position: absolute;
    top: 0.5em;
    right: 1em;
    cursor: pointer;
    font-size: 1.5em;
}

.hidden {
    display: none !important;
}

#canvas-container {
    display: none;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#canvas-area {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cdd;
    position: relative;
    overflow: hidden;
}

/* #canvasTwoUp, */
#ccc1,
#ccc2,
#canvasSwipe,
#canvasOnionSkin,
#canvasSabun {
    overflow: scroll;
    /* position: relative; */
}

#ccc1,
#ccc2 {
    /* margin: 0 10px; */
    /* background-color: #add; */
}

#swipeCanvas,
#onionSkinCanvas,
#sabunCanvas {
    /* background-color: #add; */
}

#ccc1,
#ccc2 {
    display: none;
    position: relative;
    width: 50vw;
    height: 90vh;
    z-index: 10;
    background-color: #cdd;
}

#swipeCanvas,
#onionSkinCanvas {
    display: block;
    position: absolute;
    width: 100vw;
    height: 90vh;
    top: 0;
    left: 0;
}

#sabunCanvas {
    width: 100%;
    height: 88vh;
    position: relative;
    overflow: hidden;
    z-index: 20;
}

#canvas-bottom {
    /* border-top: 10px solid #cdd; */
    height: 10vh;
    width: 100vw;
    display: block;
    position: relative;
    background-color: #ddd;
    padding: 10px;
    z-index: 50;
}

.diffChangeui {
    display: flex;
}

#zoomSliderContainer {
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    width: 250px;
    z-index: 50;
}

#zoomSliderContainer span {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

#canvasZoomValue {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

#swipeSliderContainer {
    display: none;
}

#swipeSlider {
    position: absolute;
    top: 25px;
    left: 50.7%;
    transform: translateX(-50%);
    z-index: 20;
    display: none;
    text-align: center;
    width: 38%;
}

#opacitySliderContainer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 8px;
    display: none;
}

#opacitySliderContainer {
    display: flex;
    align-items: center;
}

.modeChange {
    display: flex;
    margin-left: 10px;
}

.modeChange label {
    display: flex;
    align-items: center;
}

.modeChange label:nth-of-type(n+2) {
    margin-left: 10px;
}

#backPileUpButton {
    position: absolute;
    top: 3px;
    right: 12px;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    z-index: 10;
}

#backPileUpButton:hover {
    color: #888;
}

#expTogetherContainer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 670px;
    z-index: 50;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 8px;
    display: none;
    align-items: center;
}

#expTogether-button {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    width: 70px;
    height: 38px;
    border-radius: 10px;
    background-color: #333;
    cursor: pointer;
}

#expTogether-button:has(:checked) {
    background-color: #4bd865;
}

#expTogether-button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 38px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background-color: #fff;
    content: '';
    /* transition: left .4s; */
}

#expTogether-button:has(:checked)::after {
    left: 52px;
}

#expTogether-button input {
    display: none;
}

/* Firefoxのみ対応させる */
@-moz-document url-prefix() {
    * {
        margin: 0;
        box-sizing: border-box;
        /* border: 1px solid #333; */
    }

    body {
        display: flex;
        font-family: Arial, sans-serif;
        overflow: hidden;
    }

    #drop-area {
        position: relative;
        width: 75%;
        height: 100vh;
        background-color: #cdd;
        margin-right: 10px solid #333;
    }

    #drop-area img {
        pointer-events: none;
        user-select: none;
        max-width: none;
    }

    #drop-area p {
        position: relative;
        width: 17em;
        top: 50%;
        left: 45%;
        text-align: center;
        font-size: 20px;
        user-select: none;
    }

    #drop-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        background-color: #50505065;
        pointer-events: none;
        display: none;
    }

    .reset:disabled,
    #toggle-drag:disabled,
    #select-all-button:disabled,
    .layer-item:disabled,
    #opacity-controls button:disabled,
    #opacity-slider:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .layer-item.selected {
        background-color: #6868f8;
        color: #fff;
    }

    #image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
    }

    #layer-menu {
        width: 25%;
        height: 86vh;
        overflow: auto;
        margin-top: 5.4em;
        padding: 0 5px;
    }

    .layer-item {
        position: relative;
        /* top: .6em; */
        padding: 10px 0;
        border: 1px solid #ddd;
        cursor: pointer;
    }

    .layer-item .dragging {
        opacity: 0.5;
        /* position: relative; */
        z-index: 1000;
    }

    .layer-item span {
        user-select: none;
        margin-left: 1em;
        /* color: #e0a49b; */
    }

    /* .drag-handle {
    position: absolute;
    margin: auto 0;
    right: .5em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    display: inline-block;
    width: 1.2em;
    text-align: center;
} */

    .ui {
        position: fixed;
        width: 25%;
        top: 0;
        right: 0;
        padding: 8px;
        background-color: #87c2b4;
        z-index: 9999;
    }

    #slider-container {
        /* position: relative; */
        display: flex;
        /* align-items: center; */
        /* width: 100%; */
    }

    .button-container {
        position: relative;
        display: flex;
        margin-top: 15px;
    }

    #zoom-slider {
        width: 80%;
    }

    #zoom-value {
        margin-left: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        background-color: rgb(81, 177, 94);
        padding: 5px;
        border-radius: 10px;
        pointer-events: none;
    }

    .reset,
    #toggle-drag,
    #select-all-button {
        border: none;
        cursor: pointer;
        font-size: 20px;
        line-height: 0.8;
        padding: 2px;
        border-radius: 5px;
        /* margin-top: 1px; */
        margin-left: 10px;
        font-weight: bold;
        width: 22px;
        height: 22px;
    }

    .reset {
        /* position: relative; */
        color: #fff;
        background-color: #ff5555;
    }

    .reset:hover {
        background-color: #cc4444;
    }

    #toggle-drag {
        /* position: relative; */
        color: #000;
        background-color: #B2D3A5;
    }

    #select-all-button {
        /* position: relative; */
        color: #fff;
        background-color: #934fa8;
        font-size: 18px;
    }

    #select-all-button:hover {
        background-color: #712da7;
    }

    #opacity-controls {
        position: relative;
        display: flex;
        margin-left: .5em;
    }

    .dragCheck {
        display: flex;
        width: 50%;
        margin-left: 50px;
        justify-content: center;
        align-items: center;
        padding: 3px;
        background-color: #B2D3A5;
        border-radius: 5px;
        font-size: 18px;
        line-height: 1;
        font-weight: bold;
        user-select: none;
        pointer-events: none;
    }

    .resettip,
    .dragtip,
    .allSelecttip,
    .diffChecktip {
        display: none;
        position: absolute;
        z-index: 10;
        background: #545454;
        padding: 4px;
        font-size: 10px;
        line-height: 1;
        animation: fadeIn 0.6s;
        color: #fff;
        border-radius: 3px;
        font-weight: bold;
        pointer-events: none;
        border: none;
    }

    .resettip {
        top: -20px;
        left: -5px;
    }

    .dragtip {
        top: -27px;
        left: 29px;
    }

    .allSelecttip {
        top: -18px;
        left: 65px;
    }

    .diffChecktip {
        top: -18px;
        left: 81px;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* .opacitytip {
    display: block;
    position: absolute;
    top: -6.5em;
    left: 59.5em;
    z-index: 10;
    background: #545454;
    padding: 1em;
    font-size: 0.1rem;
    line-height: 1;
    animation: fadeIn 0.6s;
    color: #fff;
    border-radius: 3px;
    pointer-events: none;
    border: none;
} */
}

@media (min-width:1200px) and (max-width:1500px) {

    .dragCheck {
        margin-left: 1em;
    }

    .modal-content {
        width: 40%;
    }

    .close {
        /* font-size: 35px; */
        font-weight: normal;
        color: #aaa;
        top: -0.1em;
        right: .15em;
        cursor: pointer;
        font-size: 2.5em;
    }

    .reset,
    #toggle-drag,
    #select-all-button,
    #diffrent-check-button {
        font-size: 14px;
        border-radius: 5px;
    }

    .reset {
        margin-left: 0;
    }

    .resettip {
        top: -9.5em;
        left: -6.8em;
    }

    .dragtip {
        top: -15.5em;
        left: 12.7em;
    }

    .allSelecttip {
        top: -9.5em;
        left: 33.8em;
    }

    .diffChecktip {
        top: -9.5em;
        left: 44.5em;
    }

    #canvas-area {
        height: 85vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #cdd;
        position: relative;
        overflow: hidden;
    }

    #ccc1,
    #ccc2 {
        display: none;
        position: relative;
        width: 50vw;
        /* height: 85vh; */
        z-index: 10;
        background-color: #cdd;
    }

    #swipeCanvas,
    #onionSkinCanvas {
        display: block;
        position: absolute;
        width: 100vw;
        height: 90vh;
        top: 0;
        left: 0;
    }

    #sabunCanvas {
        width: 100%;
        height: 88vh;
        position: relative;
        overflow: hidden;
        z-index: 20;
    }

    #canvas-bottom {
        height: 15vh;
        width: 100vw;
        display: block;
        position: relative;
        background-color: #ddd;
        padding: 10px;
    }
}